@media(max-width:767px) {
    .dashboard{
        flex-direction: column;
            height: 100vh;
            padding: 10px;

        
    }
    .leftside {
        width: 98%;
        height: auto;
        min-width: 280px;
        border-radius: 10px;
        position: relative;
        margin-left: 10px;
        /* margin: 10px; */
        /* Ensure stacking context for children */
      }
    .switchContainer{
        display: flex;
        justify-content: space-around;
    }
    .profile{
        display: flex;
        justify-content: space-between;
        gap: 25px;
    }
    .profile h2{
        font-size: 20px;
        margin-top: 10px;
    }
    .profile p{
        margin-top: 10px;
    }
    .card{
        width: 100%;
        min-width: 280px;
        margin-top: 20px;
    }
      
}